{% extends "layout.html" %}
{% block content %}
   <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Technical Summary</a>
              <small class="text-muted">Last Updated 8/16/2020</small>
            </div>
            <h2><a class="article-title" href="#">Technology Name / Architecture: </a></h2>
            <p class="article-content">Here we will break down the full structure of the project all technology implimented in its construction 
            as well as it's major advatages to more traditional aproachs to the task.</p>
            <br/>
            <h3><a class="article-title" href="#">Technology Scope:</a></h3>
            <p class="article-content">At a high level, what technologies does the solution use? (e.g. language, 
            frameworks). </p>
            <br/>
            <h3><a class="article-title" href="#">Functionality and User Interface:</a></h3>
            <p class="article-content">●	What type of user interface does the solution provide (e.g. web interface, command line interface). </p>
            <p class="article-content">●	What input formats does the solution support? (e.g. PDF or MS Word). </p>
            <p class="article-content">●	How does the solution process batches of documents?</p>
            <br/>
             <h3><a class="article-title" href="#">Application of AI / ML:</a></h3>
            <p class="article-content">Provide a description of the ways in which the technology leverages AI/ML.
              Please specify general approaches (supervised, unsupervised) and conceptual description of how 
              these apply to the challenge. </p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}

