{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Contact Our Team </a></h2>
            <p class="article-content">Here we have our full team of developers and contact info to reach them for further
            information on their work and areas of expertise.</p>
          </div>
         </article>
          <br/>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team2.jpeg"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Thomas Dunlap</a>
              <small class="text-muted">Email: TommyDz@gmail.com</small>
            </div>
            <h2><a class="article-title" href="#">AI / ML Lead </a></h2>
            <p class="article-content">Thomas Dunalp was the lead Data Scientist and AI / ML developer on the project 
            it was his idea to work with leading technoligys like Bert and Computer Vision to help solve some of the bigest chalenges
            the project had to offer his primery focus was on inital model construction and training.</p>
          </div>
          </article>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team1.jpeg"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Jason May</a>
              <small class="text-muted">Email: JayM@gmail.com</small>
            </div>
            <h2><a class="article-title" href="#">AI / ML Specialist </a></h2>
            <p class="article-content">Jason May worked closely with the code to cordiante develop and launch our 
            full AI / ML visison for the project his focus was on the poper implimentation of the Document Clasification
            Tool and its end to end testing and worked tierlesly to push the model to it's final state.</p>
          </div>
          </article>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team3.jpg"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Matthew I Cintron</a>
              <small class="text-muted">Email: matt_cintron@yahoo.com</small>
            </div>
            <h2><a class="article-title" href="#">Python UI/UX Intagration Specialist </a></h2>
            <p class="article-content">Matthew Cintron worked with the AI / ML leads to integrate the python based AI / ML
            soultions they had painstaingly developed into a polished UI with flask based web application framework 
            enabling the well developed code to be cleanly viewed and visualized for the user.</p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}
