{% extends "layout.html" %}
{% block content %}
    <img src="../static/nlp_Image5.jpg"/>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Project Breakdown</a>
              <small class="text-muted">August 16 2020</small>
            </div>
            <h2><a class="article-title" href="#">Executive Summary of Solution: </a></h2>
            <p class="article-content">Here we have our project submition for the (AI) Machine Learning (ML) EULA Challenge 2020
            This product features state of the art NLP (natural larguage proccessing uing Bert - and its attenition basied
            transoformers combined with the latest in computer vission software to both analyse and break down the text of documents
            from word to pdf as well as classify them </p>
            <br/>
          </div>
        </article>
    <br/>
{% endblock content %}
