{% extends "layout.html" %}
{% block content %}
   <h1>Responce</h1>
   <h2> {{title}} </h2>
   <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Flask Site Admin</a>
              <small class="text-muted">Last Updated 8/9/2020</small>
            </div>
            <h2><a class="article-title" href="#">Responce Recived </a></h2>
            <p class="article-content">Nice work sending out that text in addtion to reciving your info flask can
            also perform python code operations on any data you send the site. </p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}

