{% extends "layout.html" %}
{% block content %}

    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Tool Breakdown</a>
              <small class="text-muted">August 16 2020</small>
            </div>
            <h1><a class="article-title" href="#">About the EULA Validation Tool: </a></h1>
            <p class="article-content">The purpose of this tool is to automate the evaluation of EULA documents for 
            acceptability. Instructions : Browse your computer and select your EULA document. (Word documents and PDFs accepted)</p>
            <br/><br/>
            <p class="article-content"><h4>The Tool Will :</h4>
                 ■	Parse and break the document into clauses
                <br/>■	Identify whether each clause is acceptable or unacceptable
                <br/>■	Give a confidence level
                 <br/><br/>
            
            <br/>
          </div>
    </article>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}

    <h2><a class="article-title" href="#"> Upload new File : </a></h2>
    <form method=post enctype=multipart/form-data>
      <p>
          <input class="btn btn-primary" type=file name=file>
          <br/>
          <input class="btn btn-success" type=submit value=Upload>
      <p/>
    </form>

    <br/>
    <br/>

   <h2><a class="article-title" href="#"> Result : </a></h2>

    {% if extracted_text %}      
    {% for text, pred, prob in extracted_text %}
         {% if pred == 'ACCEPTABLE'%}
               <b> <p style="color:green;">{{ pred }} <span style="color:black;">Probability Score ={{ prob }}</span></p>
                <p>{{ text }}</p>
            {% else %}
               <b> <p style="color:red;">{{ pred }}<span style="color:black;">Probability Score ={{ prob }}</span></p>
               <p>{{ text }}</p>            
                 {% set targets = tagets,'   ',pred,' ',prod,'     ', text %}
                
            {% endif %}     
    {% endfor %}
    <div class="col-lg-10">
      <textarea class="form-control" rows="3" id="textArea" style="height: 200px; width: 800px;">
          {{targets}}
      </textarea>
      <span class="help-block">All Unacceptable targets found </span>
    </div>
   <br/>
    
    {% else %}
      The extracted text will be displayed here
    {% endif %}
    <br/>
    <br/>
{% endblock content %}
