{% extends "layout.html" %}
{% block content %}
   <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Technical Summary</a>
              <small class="text-muted">Last Updated 8/16/2020</small>
            </div>
            <h2><a class="article-title" href="#">Technology Architecture: </a></h2>
            <p class="article-content">
                <h4>Functionality</h4>
                After users input PDF or Word documents into our web app, the code extracts the clauses from those 
                documents, runs predictions, and shows the results for each clause on the app in real time.  
                <br/><br/>
                <h4>Accuracy</h4>
                Our NLP model achieved a ****score of whatever which is however much over a standard baseline score***.  
                <br/><br/>
                <h4>Technologies</h4>
                Attain’s solution uses best in class open source technologies to ensure both
                technical proficiency on the back end and ease of use on the front end.  Those technologies include 
                Natural Language Processing with BERT for predictions, Tesseract OCR for pulling clauses from documents,
                 and Flask for building Python Web Apps.
                 
                <br/><br/>
                <h4>Natural Language Processing with BERT</h4>                
                In 2018, Google announced and released Bidirectional Encoder Representations (BERT), which has 
                transformed the NLP field.  BERT, now used heavily in Google search engines, achieves extremely 
                accurate results while allowing for parallelization and transfer learning.  
                
                <br/><br/>
                <h4>Tesseract OCR</h4>           
                Tesseract OCR is an open source tool for Optical Character Recognition, which uses Long Short 
                Term Memory Neural Networks (LSTMs) extract text from images  in a machine readable text format.
                
                <br/><br/>
                <h4>Flask for Python Web Apps</h4>                
                 Flask is a lightweight WSGI we use as the projects web application framework. It is designed to make getting started quick 
                 and easy, with the ability to scale up to complex applications. It began as a simple wrapper around
                 Werkzeug and Jinja and has become one of the most popular Python web application frameworks.
                
                <br/><br/>
                <h4>Conclusion</h4> 
                Functional.  Accurate.  Easy to use interface.  Instant feedback.  Accurate predictions.                
                Attain’s solution to the GSA Challenge leverages the latest in AI / ML technologies to easily and 
                accurately identify unacceptable clauses in EULAs.

            </p>
            <br/>
            <h3><a class="article-title" href="#">Technology Scope:</a></h3>
            <p class="article-content">
            •	Bidirectional Encoder Representations (BERT) for Natural Language Processing predictions
             <br/>•	BERT was used via a Python backend 
             <br/>•	Tesseract OCR for pulling clauses from documents
             <br/>•	Via a Python backend 
             <br/>•	Flask for building Python Web Apps.
            </p>
            <br/>
            <h3><a class="article-title" href="#">Functionality and User Interface:</a></h3>
            <p class="article-content">●	The solution provides a web interface, which allows users to browse their computers to select a file. After the file is selected, they click a button to run the application</p>
            <p class="article-content">●	Behind the scenes, Tesseract OCR will extract clauses from the document </p>
            <p class="article-content">●	Python / BERT will run predictions. The predictions will display on the web interface for each clause as the predictions are made.</p>
            <br/>
             <h3><a class="article-title" href="#">Application of AI / ML:</a></h3>
            <p class="article-content"><h4>●	Natural Language Processing with Bidirectional Encoder Representations (BERT)</h4>
                    ○	Supervised binary classification
                 <br/>○	Transfer learning using BERT’s built in pretrained word embeddings
                 <br/>○	Fine tuning on the provided training data
                 <br/>○	Neural Network with Encoder / Decoder layers
                 <br/>■	Attention model focuses on the relevant parts of the input sequence as needed, allowing for context
                 <br/>■	Transformer model allows Attention to occur without dependencies necessary in an LSTM, leading to opportunity for parallelization
                 <br/>■	Bidirectional contextualization possible because of masking
                 <br/><br/>
                <h4>●	Tesseract OCR for pulling clauses from images</h4>
                   ○	Turns PDF EULAs into machine readable text
                <br/>○	Optical Character Recognition
                <br/>○	Employs Long Short Term Memory neural networks for…
                <br/>■	Edge detection to determine where words are in the text
                <br/>■	Letter Classification
                <br/>■	Word Classification
            </p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}

