{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Contact Our Team </a></h2>
            <p class="article-content">Jason, Tom, and Matt are AI/ML Data Scientists for Attain Consulting, a 
            leading management, technology, and strategy consulting firm comprised of innovative problem solvers.
             Our team members have experience in a variety of industries from video games to healthcare to oil and
             gas and have a variety of interests from baseball to stand-up comedy.</p>
          </div>
         </article>
          <br/>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team2.png"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Thomas Dunlap</a>
              <small class="text-muted">Email: TommyDz@gmail.com</small>
            </div>
            <h2><a class="article-title" href="#">AI / ML Lead </a></h2>
            <p class="article-content">Thomas Dunalp was the lead Data Scientist and AI / ML developer on the project 
            it was his idea to work with leading technoligys like Bert and Computer Vision to help solve some of the bigest chalenges
            the project had to offer his primery focus was on inital model construction and training.</p>
          </div>
          </article>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team1.png"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Jason May</a>
              <small class="text-muted">Email: JayM@gmail.com</small>
            </div>
            <h2><a class="article-title" href="#">AI / ML Specialist </a></h2>
            <p class="article-content">With Master's degrees in both Data Science and Creative Writing, Jason specializes
             in telling stories with data.  Numbers and Narratives. Let the data be heard. Jason May worked closely with 
             the code to cordiante develop and launch our full AI / ML visison for the project.</p>
          </div>
          </article>
          <br/>
          <article class="media content-section">
          <div class="media-body">
          <img src="../static/team3.jpg"/>
            <div class="article-metadata">
              <a class="mr-2" href="#">Matthew I Cintron</a>
              <small class="text-muted">Email: micintron@attain.com</small>
            </div>
            <h2><a class="article-title" href="#">AI / ML Full Stack Intagration </a></h2>
            <p class="article-content">Matthew Cintron worked with the AI / ML leads to integrate the python based AI / ML
            soultions they had painstaingly developed into a polished UI with flask based web application framework 
            enabling the well developed code to be cleanly viewed and visualized for the user.</p>
          </div>
        </article>
    <br/>
    <br/>
{% endblock content %}
