{% extends "layout.html" %}
{% block content %}
    <img src="../static/nlp_Image5.jpg"/>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
            </div>
            <h3><a class="article-title" href="{{url_for('upload_page')}}">Click Here for the Fully Functional Solution</a></h3>
            <h2>Executive Summary of Solution </h2>
            <p class="article-content">Team Attain’s solution to identifying unacceptable clauses in EULAs combines an
            easy to use interface and the latest Artificial Intelligence / Machine Learning technologies.
             We know that user adoption depends on both accuracy and functionality, so we have provided a solution to
              achieve both. </p>
            <br/>
          </div>
        </article>
    <br/>
{% endblock content %}
